{% extends 'base.html' %}

{% block main %}
{% include 'flash_messages.html' %}
<h1 class="page-header">Properties</h1>
<br>

<div class = "grid-container">
    {% for property in properties %}

        <div class="card">
            <img src="{{ url_for('get_image', filename=property.photo) }}">

            <div class="cardbody">
                <h3 class = "title"> {{ property.title }}</h3>
                <p class = "location">
                    <i class="fa-solid fa-location-dot"></i>
                    {{property.location}}
                </p>
                <p class = "propertyprice">
                     ${{property.price}}</p>
            </div>
            <a class="btn btn-primary" class = "btn" href= "{{url_for('getProperty',propertyid= property.id)}}">View Property</a>
        </div>
    {% endfor %}
</div>

<br>
<br>
<br>

{% endblock %}